<nav>
  <div class="nav-wrapper light-blue darken-3">
    <a href="{{ path_for('home') }}" class="brand-logo">ShiroWorks</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="#" class="brand-logo right"
          ><i class="material-icons">shopping_cart</i>({{
            basket.itemCount()
          }})</a
        >
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <a href="{{ path_for('cart.index') }}" class="brand-logo right"
      ><i class="material-icons">shopping_cart</i>({{ basket.itemCount() }})</a
    >
  </li>
</ul>
